:root {
	--salex-blue: #2098c4;
	--salex-orange: #ec9c3e;
}

body {
    color: black;
    background-color: var(--salex-blue);
	font-size: 3vw;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
}

.namespace {
    padding: 0.5em 1em;
    height: 1.2em;
}

.namespace .name {
     background-color: lightgray;
     position: relative;
     float: left;
     width: 20%;
}

.namespace .title {
    background-color: white;
    position: relative;
    float: right;
    width: 80%;
}

